h1
{
  font-size: 60px;
  text-align: center;
  font-style: normal;
  font-family: georgia
  color: black;
font-weight: bold;
}
a{
  text-align: left;
  text-decoration: none;
  text-transform: lowercase;
  font-size: 20px;
  padding: 10px;
  text-shadow: 10;
  border: 0.5px solid black;
  border-radius: 15px;
  background-color: gray;
  transition: 2s;
  color:white;
}
a:link
{
  padding: 14px;
  margin: auto;
  display: inline-block;
  border: 2px solid black;
  border-radius: 10px;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  box-shadow:none;
background: greenyellow;
transition: 2s;
}
a:active {
  color: Dodgerblue;
  text-decoration: none;
}
h2
{
  font-size: 40px;
  color: black;
  text-align: left;
  font-style: normal;
  font-family: serif;
   text-shadow: 3px 2px gray;
}
p{
  text-align: justify;
  font-weight: bold;
  font-size: 22px;
  font-family: serif;
}
.bg-image{
  background-image: url("opening.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  opacity: 0.7;
}

.bg-text
{
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
